<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu-content"></ion-menu-button>
      </ion-buttons>
      <!--
      <ion-button (click)="mostrarMenu()"  menu="menuId">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>-->
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button mode="ios" routerLink="/inicio">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h4>¡Upps una disculpa estamos en mantenimiento!</h4>
  </ion-text>
</ion-content>
